#logo {
    background-color: white;
    text-align: center;
}

#navegador{
    background-color: #A5D5E0;
    width: auto;
    height: 100px;

}

.container-fluid{
    background-color: #A5D5E0;

}


#header {
    margin: 50px 0 50px 0;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bolder;
}

#recientes{
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 50px 50px;
}

.card{
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
    color:black;
}

#social-media {
    background-color: antiquewhite;

    padding: 100px 0 100px 0;
    color: white;
}

#footer {
    padding: 50PX 0 50px 0;
    background-color: #A5D5E0;
    color: white;
}

#footer ul li {
    list-style: none;
    padding-left: 0;
}

#Copyright {
    padding: 20px 0 5px 0;
    font-style: oblique;

}
